@model LoginPederneiras.Models.SaidaProduto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SaidaProduto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeSaidaProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeSaidaProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSaidaProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSaidaProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SaidaProdutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
